<!--
<div class="text-align:center">
<h1>{{id}},{{viewdata2.title}}</h1>


</div> -->
<div class="main-wrapper">

  <article class="blog-post px-3 py-5 p-md-5">
    <div class="container">
      <header class="blog-post-header">
        <h2  > Title  = {{viewdata2.title}}</h2>

       </header>

      <div class="blog-post-body">


        <h3 class="mt-5 mb-3"> Body ={{viewdata2.body}}</h3>

        <h3 class="mt-5 mb-3">DesCriPtion = {{viewdata2.description}}</h3>



      </div>



</div><!--//main-wrapper-->
