<!-- <br><br>
<h1 class="text-center"> Title = {{adminn.title}}</h1>
<h1 class="text-center">Body = {{adminn.body}}</h1>

<h1 class="text-center">Description ={{adminn.description}}</h1>

<br><br> -->



<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neumorphism Profile Card | CodingNepal</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

  <div class="wrapper" style="height: 346px;">
<div class="name"> {{adminn.title}}</div>
    <div class="about">  {{adminn.body}}</div>
    <div class="about">  {{adminn.description}}</div>
 </div>
</body>
</html>
