<!-- <br><br><br><br>
<div class="text-center">
  <a href="/admin/addblog"> <button type="button" class="btn btn-outline-success">add blog</button><br><br></a>
  <a href="/admin/displayblog"><button type="button" class="btn btn-outline-danger">display</button></a><br><br>
  <a href="/admin/contactblog">  <button type="button" class="btn btn-outline-dark">contact</button></a><br><br>
</div>

<br><br><br><br><br><br><br><br><br><br> -->
<div class="container">
  <div class="row align-items-center vh-100">
      <div class="col-6 mx-auto">
          <div class="card shadow border">
              <div class="card-body d-flex flex-column align-items-center">
                  <h1 class="card-text" style="font-family:Lucida Console, Courier New, monospace;">HELLO ADMIN DASH</h1>
                  <br>
                  <a [routerLink]="['/admin/addblog']" class="btn btn-primary">Add Blog</a> <br>
                  <a [routerLink]="['/admin/displayblog']" class="btn btn-danger">Display Blogs</a><br>
               </div>
          </div>
      </div>
  </div>
</div>
