<div class="main-wrapper">
  <section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
      <h2 class="heading">"Everybody should learn to program a computer, because it teaches you how to think."- Prashant Sahu Co-Founder of PN INFOSYS</h2>
      <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
      <form class="signup-form form-inline justify-content-center pt-3">
                <div class="form-group">
                    <label class="sr-only" for="semail">Your email</label>
                    <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
    </div><!--//container-->
  </section>
  <section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
      <div class="item mb-5">
        <div class="media" *ngFor="let get of newsdata">
          <!-- <img class="mr-3 img-fluid post-thumb d-none d-md-flex" [src]="get.urlToImage" width="200px" height="120px"alt="image"> -->
          <div class="media-body">
            <h3 class="title mb-1">{{get.title}}</h3>
             <div class="intro">{{get.description}}</div>
            <div class="intro">{{get.body}}</div>
            <a class="more-link" [routerLink]="['blogdetail',get._id]">Read more &rarr;</a>
<br><br>
          </div><!--//media-body-->
        </div><!--//media-->
      </div><!--//item-->








      <nav class="blog-nav nav nav-justified my-5">
      <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
      <a class="nav-link-next nav-item nav-link rounded" >Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
    </nav>

    </div>
  </section>
  </div>


    <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
    <div id="config-panel" class="config-panel d-none d-lg-block">
      <div class="panel-inner">
          <a id="config-trigger" class="config-trigger config-panel-hide text-center" href="#"><i class="fas fa-cog fa-spin mx-auto" data-fa-transform="down-6" ></i></a>
          <h5 class="panel-title">Choose Colour</h5>
          <ul id="color-options" class="list-inline mb-0">
              <li class="theme-1 active list-inline-item"><a data-style="assets/css/theme-1.css" href="#"></a></li>
              <li class="theme-2  list-inline-item"><a data-style="assets/css/theme-2.css" href="#"></a></li>
              <li class="theme-3  list-inline-item"><a data-style="assets/css/theme-3.css" href="#"></a></li>
              <li class="theme-4  list-inline-item"><a data-style="assets/css/theme-4.css" href="#"></a></li>
              <li class="theme-5  list-inline-item"><a data-style="assets/css/theme-5.css" href="#"></a></li>
              <li class="theme-6  list-inline-item"><a data-style="assets/css/theme-6.css" href="#"></a></li>
              <li class="theme-7  list-inline-item"><a data-style="assets/css/theme-7.css" href="#"></a></li>
              <li class="theme-8  list-inline-item"><a data-style="assets/css/theme-8.css" href="#"></a></li>
          </ul>
          <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
      </div><!--//panel-inner-->
  </div><!--//configure-panel-->
